/* Estilos para diferentes tamanhos de tela */

/* Tamanho de tela até 1200px */
@media(max-width:1200px) {
    html {
        font-size: 55%;
    }

    .about .about-row {
        width: 100%;
        padding: 0 0 0 0rem
    }

    .about .about-column {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

/* Tamanho de tela até 990px */
@media(max-width:990px) {
    .header {
        padding: 2rem 4%;
    }

    .about-img img {
        height: 300px;
        width: 100vw;
        border: 0.2rem solid var(--main-color);
        object-fit: cover;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .home {
        padding: 0 4%;
        background-size: 55%;
        background-position: 100% 88%;
    }

    .animat.home-img {
        width: 60%;
    }

    .formacao .formacao-column {
        max-width: 50%;
    }

    .footer {
        padding: 2rem 4%;
    }

    .about-img {
        height: 300px;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    .about .about-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        width: 100%;
    }
}

/* Tamanho de tela até 768px */
@media(max-width:768px) {
    .header {
        background: var(--bg-color);
    }

    #menu-icon {
        display: block;
    }

    .footer {
        flex-direction: column-reverse;
        text-align: center;
    }

    .footer-text {
        padding: 2rem 4%;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        height: 100vh;
        padding: 1rem 4%;
        background: var(--main-color);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .1s;
        flex-direction: column;
    }

    .navbar.active {
        left: 0;
        transition-delay: 0s;
        align-items: center;
    }

    .navbar .active-nav {
        position: absolute;
        top: 0%;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, 0.2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: .0s;
    }

    .navbar.active .active-nav {
        left: 0;
        transition-delay: .25s;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: .0s;
    }

    .navbar.active a {
        transform: translateX(0);
        transition-delay: .25s;
    }

    .home-imgHover {
        pointer-events: none;
        background: var(--bg-color);
        opacity: .6;
    }

    .home {
        padding: 0 4%;
        background-size: 50%;
        background-position: 100% 85%;
        display: flex;
        align-items: center;
        align-content: center;
    }

    .heading {
        display: flex;
        align-items: center;
    }

    #menu-icon {
        display: block;
        margin-left: 25px;
    }

    .about-img {
        height: 300px;
        width: 100vw;
        object-fit: cover;
        object-position: center;
    }

    .about-img img {
        height: 300px;
        width: 100vw;
        border: 0.2rem solid var(--main-color);
        object-fit: cover;
    }

    .about .about-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }

    .skills-row .skills-column {
        flex: 1 1 1rem;
        display: flow-root;
    }
}

/* Tamanho de tela até 520px */
@media(max-width:520px) {
    html {
        font-size: 50%;
    }

    .home-content h1 {
        display: flex;
        flex-direction: column;
    }

    .home-sci {
        width: 160px;
    }

    .home-sci a {
        width: 38px;
        height: 38px;
    }
}

/* Tamanho de tela até 462px */
@media(max-width:462px) {
    .home-content h1 {
        font-size: 5.2rem;
    }

    .education {
        padding: 10rem 4% 5rem 5%;
    }

    .contateme form .input-box .input-field {
        width: 100%;
    }
}

/* Tamanho de tela até 371px */
@media(max-width:371px) {
    .home {
        justify-content: center;
    }

    .home-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-top: 0px;
    }

    .home-content h1 {
        font-size: 5rem;
    }
}

/* Tamanho de tela até 916px (altura) */
@media(max-height:916px) {
    .home-content {
        max-width: 60rem;
        margin-top: 13vh;
    }
}
