@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-caixa;
 

}

.container {
    display: flex;
    background-image: url("/projetos/loginCSS/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.box {
    position: relative;
    width: 380px;
    height: 110px;
    background: transparent;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    transition: height 1s;
}

.box:hover {
    position: relative;
    width: 380px;
    height: 430px;
    background: transparent;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    transition: height 1s;
}

.box:hover:before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 430px;
    background: linear-gradient(0deg, transparent,
            transparent, #45f3ff, #45f3ff, #45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animateBox 10s linear infinite;
    animation-delay: -0.5s;
}

.box:hover::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 430px;
    background: linear-gradient(0deg, transparent,
            transparent, #fff, #fff, #fff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animateBox 10s linear infinite;
    animation-delay: -5.5s;
}

@keyframes animateBox {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.line {
    position: relative;
    width: 100%;
    height: 2px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
}

.line:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #45f3ff, #45f3ff, #45f3ff);
    z-index: 1;
    animation: animateLine 10s infinite linear forwards;

}

.line::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #fff, #fff, #fff);
    z-index: 1;
    animation: animateLine 10s infinite linear forwards;

    animation-delay: -5s;
}

@keyframes animateLine {

    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }

}


.box form {
    position: absolute;
    inset: 4px;
    background: #222;
    padding: 40px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box h2 {
    color: #45f3ff;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform:uppercase;

}

.box form .inputBox {
    position: relative;
    width: 300px;
    margin-top: 35px;


}

.box form .inputBox input {
    position: relative;
    width: 80%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #313131;
    font-size: 1em;
    transition: 0.5s;
    z-index: 10;
font-weight: 600;
}

.box form .inputBox span {
    position: absolute;
    left: 0;
    padding: 25px 5px 5px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 0.75em;
    letter-spacing: 0.5em;
    transition: 0.5s;
    font-weight: 900;
}

.box form .inputBox input:valid~span,
.box form .inputBox input:focus~span {
    color: #fff;
    font-size: 0.6em;
    letter-spacing: 0.5em;
    transform: translateY(-34px);

}

.box form .inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #45f3ff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.box form .inputBox input:valid~i,
.box form .inputBox input:focus~i {
    height: 40px;
}

.box form .links {
    display: flex;
    justify-content: space-between;

}

.box form .links a {
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;

}

.box form .links a:hover,
.box form .links a:nth-child(2) {
    color: #fff;

}

.box form input[type="submit"] {
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #fff;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: 600;
    border-radius: 4px;
    margin-top: 10px;
}

.box form input[type="submit"]:active {
    opacity: 0.6;

}


#mensagem {
    display: none;

    color: #ffffff;
    position: relative;
    padding: 10px;
    margin-top: 5px;

}

#mensagem p {
    font-size: 10px;
    letter-spacing: 0.1em;

}


#mensagem .valid {
    color: green;
}

#mensagem .valid:before {
    position: relative;
    padding: 5px;
    content: "✔";
}


#mensagem .invalid {
    color: red;
}

#mensagem .invalid:before {
    position: relative;
    padding: 5px;
    content: "✖";
}

.loginsucesso {
    color: #45f3ff;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.astronauta {
    width: 400px;
    position: fixed;
    animation: astronauta 2.1s infinite alternate-reverse linear;
    
  }
  
  @keyframes astronauta {
    from {
      top: 300px;
      left: 880px;
    }
  
    to {
      top: 330px;
      
      left: 900px;
    }
  }


  .meteorito1 {
    content: '';
    position: fixed;
    width: 300px;
    height: 300px;
    animation: meteorito1 30s linear infinite;

  }
  
  @keyframes meteorito1 {
    0% {
        top: 200px;
        left: -400px;
        transform: rotate(0deg);
       
      }

    100% {
        top: 800px;
        left: 600px;
        transform: rotate(20deg);
       
    }
}
.meteorito2 {
    content: '';
    position: fixed;
    width: 300px;
    height: 300px;
    animation: meteorito2 30s linear infinite;

  }
  
  @keyframes meteorito2 {
    0% {
        top: 200px;
        left: -500px;
        transform: rotate(0deg);
       
      }

    100% {
        top: 800px;
        left: 600px;
        transform: rotate(20deg);
       
    }
}
.meteorito3 {
    content: '';
    position: fixed;
    width: 300px;
    height: 300px;
    animation: meteorito3 30s linear infinite;

  }
  
  @keyframes meteorito3 {
    0% {
        top: 200px;
        left: -600px;
        transform: rotate(0deg);
       
      }

    100% {
        top: 800px;
        left: 600px;
        transform: rotate(20deg);
       
    }
}
  

.terra {
    content: '';
    position: fixed;
    width: 150px;
    height: 150px;
    animation: terra 30s linear infinite;

  }
  
  @keyframes terra {
    0% {
        top: 50px;
        left: 80%;
        transform: rotate(0deg);
       
      }

    100% {
        top: 50px;
        left: 80%;
        transform: rotate(360deg);
       
    }
}

.lua {
    content: '';
    position: fixed;
    width: 250px;
    height: 250px;
    animation: lua 30s linear infinite;

  }
  
  @keyframes lua {
    0% {
        top: 20px;
        left: 85%;
        transform: rotate(0deg);
       
      }

    100% {
        top: 20px;
        left: 85%;
        transform: rotate(360deg);
       
    }
}
.satelite {
    content: '';
    position: fixed;
    width: 100px;
    height: 100px;
    animation: satelite 30s infinite alternate-reverse linear;
 
  }
  
  @keyframes satelite {
    0% {
        top: 20px;
        left: 75%;
       
       
      }

    100% {
        top: 20px;
        left: 80%;
   
       
    }
}
.planeta1 {
    content: '';
    position: fixed;
    width: 250px;
    height: 250px;
    animation: planeta1 10s infinite alternate-reverse linear;

  }
  
  @keyframes planeta1 {
    0% {
        top: 50px;
        left: 2%;
        transform: rotate(0deg);
       
      }

    100% {
        top: 50px;
        left: 2%;
        transform: rotate(15deg);
       
    }
}
.planeta2 {
    content: '';
    position: fixed;
    /* width: 1250px;
    height: 1250px; */
    animation: planeta2 10s infinite alternate-reverse linear;

  }
  
  @keyframes planeta2 {
    0% {
        top: 50px;
        left: 50%;
        transform: rotate(0deg);
       
      }

    100% {
        top: 50px;
        left: 50%;
        transform: rotate(15deg);
       
    }
}
.estrelacadente
{
    content: '';
    position: fixed;
    width: 250px;
    height: 250px;
    animation: estrelacadente 30s linear infinite;
    
  }
  
  @keyframes estrelacadente {
    0% {
        top: -1000px;
        left: -10000px;
        transform: rotate(0deg);
       
      }

    100% {
        top: 1500px;
        left: 15000px;
        transform: rotate(10deg);
       
    }
}